.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.card{
  margin: 10px;
  padding: 0px;
}

.pod-art{
  width: 150px;
}
.mt-10 {
  margin-top: 10px !important;
}
.mb-10{
  margin-bottom: 10px !important;
}
.mb-0{
  margin-bottom: 0;
}

.pod-header{
  width: 100%;
  max-width: 150px;
}

.date-font{
  color:#666;
  line-height: 8px;
}


.pod-container{
  max-width: 870px;
}
.pod-header-width{
  width: 780px;
}
.pad-0{
  padding: 0;
}
.pl-0{
  padding-left: 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
